html {
  background-color: #f3eae3;
}

.space {
  height: 100px;
}

.card {
  display: grid;
  background-color: white;
  margin: auto;
  grid-template-columns: 314px 314px;
  
  height: 418px;
  width: 628px;
  justify-content: center;
  border-radius: 20px;
}

.image {
  display: grid;
  width: 314px;
  height: auto;
  border-radius: 20px 0px 0px 20px;
  
}

#logo {
  font-family: 'Montserrat', sans-serif;
  color: gray;
  letter-spacing: 5px;
  font-size: 12px;
}

.content {
  display: grid;
  padding: 6% 10% 10% 10%;
  grid-template-rows: 5% 31% 16% 20% ;
}

#bold-text {
  font-family: 'Fraunces', serif;
  font-size: 2em;
}

#desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: gray;
}

#button {
  background-color: #3d8168;
  color: white;
  border-radius: 5px;
  border: none;
  height: 3em;
  width: 18em;

}

.pricing {
  display: grid;
  grid-template-columns: 40% 50%;
}

#price-now {
  font-family: 'Fraunces', serif;
  font-size: 2em;
  color: #3d8168;
}

#price-then {
  color: gray;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width :650px){
  
  .card{
    width: 346;
    height: 613;
    display: grid;
  background-color: white;
  margin: auto;
  padding: 0px;
    grid-template-colums: 1fr 1fr;
  
  height: 613px;
  width: 346px;
  justify-content: center;
  border-radius: 20px;
  }
  
  .card img{
    position: relative;
    object-fit: cover;
    width: 346px;
    height: 243px;
    top: 0px;
    left: 141px;
    border-radius: 20px 20px 0px 0px;
  }
    
    .content {
      position: relative;
      top: 220px;
      right: 180px;
      width: 305px;
      padding: 30px 40px 250px 25px;
    }
  
  #price-then {
    position: relative;
    color: gray;
    margin: auto;
    right: 30px;
    
}
    #desc {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: gray;
    bottom: 25px;
    line-height: 24px;
    
      
}

    
    
 
  
